/* VIEW CSS */

.tm-item-list{
  /*Put here css for the main WRAPPER of each view row */
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid silver; */
  background-color: white;
  box-shadow: 0px 0px 10px 5px #0000000f;
  width: 100%;
}

.tm-item-list ul {
  /*Put here css for the main UL of each view row */
  list-style-type: none;
 }

 .tm-item-list li > * {
   /*Put here css for DIV fields wrappers under the main IL of each view row */
   display: inline-block;
   padding:10px;
  }

.tm-item-list .views-field-title{
  /*Put here css for field-title*/
  font-variant: small-caps;
  font-size: x-large;
}

.tm-item-list .views-field-title a{
  /*Put here css for field-title links*/
  text-decoration: none;
}

.tm-item-list .views-field-body{
  /*Put here css for field-body*/
}
